<div class="h-10 border-gray-300 border-b flex">
    <span class="align-middle justify-center ">
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="modeSelect"
        (onChange)="displayModeChange($event.value)"
        optionLabel="label"
        optionValue="value">
      </p-selectButton>
    </span>
</div>

<div class="w-full h-full bg-blue-400" (dragover)="$event.preventDefault()" (drop)="drop()">

  <div *ngFor="let node of (nodesInEditor$ | async)?.values()">
    <ng-container [ngSwitch]="determineNodeType(node.data)">
        <ng-container *ngSwitchCase="'groupNode'">
            <span> Group :D {{node.data?.label}} </span>
        </ng-container>

        <ng-container *ngSwitchCase="'formNode'">
            <span> Form:D {{node.data?.label}} </span>
        </ng-container>

    </ng-container>
  </div>


  Hello :D
</div>
