<div class="header-row bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800 flex justify-between   ">

  <div class="self-center">
    <span class="text-white text-lg font-bold">Form Editor</span>
  </div>

  <div class="self-center flex flex-row">
    <p-button
            class="self-center border rounded ms-1 me-1"
            icon="pi pi-plus"
            (click)="headerService.createNewForm()">
    </p-button>

    <p-button
            class="self-center border rounded ms-1 me-1"
            icon="pi pi-save"
            (click)="headerService.saveForm()">
    </p-button>

    <p-dropdown
            class="w-80 self-center ms-1 me-1"
            [options]="(headerService.getFormMinimals() | async) | transformFormMinimalsIntoOptions"
            (onChange)="headerService.getFormByCode($event.value)"
            optionLabel="name"
            optionValue="code"
            placeholder="Select a form"
            [filter]="true"
            filterBy="name">
      <ng-template let-form pTemplate="item">
        <div class="flex gap-2 items-center justify-between ">
          <div>{{ form.name }}</div>
          <div (click)="$event.stopPropagation()">
            <button
              class="p-button-rounded p-button-danger p-button-text p-button-sm"
              (click)="headerService.deleteForm(form)"
              icon="pi pi-trash"
              pButton
              pRipple>

            </button>
          </div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>

