<div class="h-10 border-gray-300 border-b">
    <button
            *ngIf="(node$ | async)"
            pButton
            pRipple
            (click)="saveModifications()"
            label="Save Modifications"
            class="p-button-text pe-1 w-full"
            icon="pi pi-save"
    ></button>
</div>

<ng-container *ngIf="(node$ | async) as node; else noNodeSelected" [formGroup]="propertyFormGroup">

    <div id="propertyList" class="overflow-auto">
      <div class="grid grid-cols-3 grid-rows-1">
        <div class="col-span-1">
          <h2> {{node.label}} </h2>
          <h2> {{node.code}} </h2>
        </div>
        <div class="col-span-2">
          <ul>
            <li *ngFor="let propertyKey of node.basePropertyList" >
              <span class="p-ml-2">{{ propertyKey }}: {{node.baseProperties ? node.baseProperties : [propertyKey]}} </span>
            </li>
          </ul>
        </div>

      </div>



      <span *ngIf="node.fieldType" class="mb-1 grid items-center  pe-1"> Field Type: {{node.fieldType}} </span>

      <hr>

        <ul class="pt-3" >
            <li *ngFor="let propertyKey of node.propertyList" class="mb-1 grid items-center justify-items-end pe-1">
                <span class="p-ml-2">{{ propertyKey }}: <input type="text" [formControlName]="propertyKey" pInputText class="p-inputtext-sm"></span>
            </li>
        </ul>
    </div>
</ng-container>

<ng-template #noNodeSelected>
    <div class="flex justify-center">
        <div>
            <h1 class="py-12">Please select a node</h1>
        </div>
    </div>
</ng-template>
