<ng-container *ngIf="dragStart$ | async"></ng-container>
<ng-container *ngIf="dragStop$ | async"></ng-container>

<div class="h-10 border-gray-300 border-b">

</div>

<ng-container *ngIf="(form$ | async) as form; else noDb">
  <p-tree
    class="h-full tree"
    [value]="[form]"
    selectionMode="single"
    [(selection)]="selectedNode"
    [draggableNodes]="true"
    [droppableNodes]="true"
    (onNodeSelect)="structureService.selectNode($event)"
    [contextMenu]="actions"
    [validateDrop]="true"
    (onNodeDrop)="onDrop($event)"
  >
    <ng-template let-node pTemplate="empty">
    </ng-template>
  </p-tree>
</ng-container>


<p-contextMenu #actions [model]="actionList"></p-contextMenu>

<ng-template #noDb>
  <div class="flex justify-center">
    <div>
      <h2 class="py-12">No form selected</h2>
    </div>
  </div>
</ng-template>
