<p-tree
  class="tree"
  [value]="nodes"
  selectionMode="single"
  [(selection)]="treeNode"
  [draggableNodes]="true"
  [droppableNodes]="true"
  (onNodeSelect)="nodeSelect($event)"
  [contextMenu]="actions"
  emptyMessage="Please connect to data base."
  [virtualScroll]="true"
  [virtualScrollItemSize]="46"
  scrollHeight="600px"
>


  <ng-template pTemplate="header">
    <button (click)="addNewRootElement()" mat-button class="italic w-full"><span class="pi pi-plus pe-1"></span> Create New Form </button>
    <hr>
  </ng-template>

<!--  <ng-template let-node  pTemplate="default" class="grid grid-cols-6 gap-4">-->
<!--    <span class="col-start-1 col-span-1">{{node.label}}</span>-->
<!--    <button><span class="pi pi-plus col-span-6 col-span-1"></span></button>-->
<!--  </ng-template>-->


</p-tree>


<p-contextMenu #actions [model]="actionList"></p-contextMenu>


<!--<button mat-raised-button color="accent">Yo</button>-->
