<button
  (click)="addNewRootElement()"
  pButton
  pRipple
  label="Create New Form"
  class="p-button-text pe-1 w-full"
  icon="pi pi-plus"
></button>
<hr>

<p-tree
  class="tree"
  [value]="nodes"
  selectionMode="single"
  [(selection)]="treeNode"
  [draggableNodes]="true"
  [droppableNodes]="true"
  (onNodeSelect)="nodeSelect($event)"
  [contextMenu]="actions"
  emptyMessage="Please connect to data base."
  scrollHeight="600px"
></p-tree>

<p-contextMenu #actions [model]="actionList"></p-contextMenu>
